body {
    background-color: #E5E5E5;
}


.slide {
    height: 200px;
    min-width: 1100px;
    max-width: 100%;
    margin: 50px 0;
}


.slide_black {
    background-color: #151515;
}

.slide_red {
    background: linear-gradient(90.04deg, #EE3041 0.04%, #67060F 99.97%), 
    linear-gradient(89.92deg, #151515 0.06%, #484848 99.94%);
}

.slide_gray {
    background: linear-gradient(89.92deg, #484848 0.06%, #151515 99.94%);
}



.slide__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
}
 

.slide__inner_reverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}

.short {
    width: 950px;
}

.final-short {
    width: 900px;
}

.slide__text-message {
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    text-align: left;
    color: #fff;
}

.slide__text-message_centering {
    margin: 0 auto;
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    text-align: left;
    color: #fff;
}

.starting {
    padding-right: 50px;
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
}

.slide__image-wrapper {
    padding-right: 50px;
}

/* .slide__image {
    
} */

.protrusion-logo {
    margin-left: -2%;
    z-index: 100;
    position: relative;
    left: 45px
}

.protrusion-logo_reverse {
    margin-right: -10%;
    z-index: 100;
    position: relative;
    right: 75px
    
}

span {
    display: inline-block
}
